@page "{id}"
@using CupOfSugar.WebSite.Services
@inject JsonFileProductService ProductService
@model CupOfSugar.Pages.Product.ReadModel
@{
    ViewData["Title"] = "Read Page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!-- Start Back Button to revert back using the user history-->
<form>
    <input type="button" value="Go back!" onclick="history.back()">
</form>
<br />
<!-- End Back Button -->

<!-- Start Page title -->
<h1 style="font-family: 'Fascinate', cursive; text-align: center;">Product Information</h1>
<br />
<!-- End Page title -->

<!-- Start Product Data -->
<div class="content">
    <div class="product-info-card">
        <img src='@Model.Product.Image' alt='Image for @Model.Product.Title'>
        <div class="product-info">
            <h3 class="title" id="productTitle">@Model.Product.Title</h3>
            <p class="card-text">Quantity: @Model.Product.Quantity</p>
            <p class="card-text">Lender: @Model.Product.Lender</p>
            <p class="card-text product-info-card-address">Address: @Model.Product.Address</p>
            <p class="card-text">Phone: @Model.GetFormattedPhone()</p>
            <p class="card-text">Category: @Model.Product.Category</p>
            <p class="card-text">Status: @Model.Product.Status</p>
        </div>
    </div>
</div>
<!-- End Product Data -->

<!-- Adding space for better page styling -->
<br />
<br />

<!-- Start Buttons to Update and Delete item -->
<div class="row">
    <form method="post">
        @Html.HiddenFor(x => x.Product.Address)
        @Html.HiddenFor(x => x.Product.Category)
        @Html.HiddenFor(x => x.Product.Id)
        @Html.HiddenFor(x => x.Product.Image)
        @Html.HiddenFor(x => x.Product.Lender)
        @Html.HiddenFor(x => x.Product.Phone)
        @Html.HiddenFor(x => x.Product.Quantity)
        @Html.HiddenFor(x => x.Product.Status)
        @Html.HiddenFor(x => x.Product.Title)
        <input id="borrow" type="submit" value=@Model.borrowBtnValue disabled="@Model.borrowBtnStatus" class="btn btn-primary" /> &nbsp; &nbsp;
    </form>
    <a asp-page="Update" asp-route-id="@Model.Product.Id" class="btn btn-primary">Update</a> &nbsp; &nbsp;
    <a asp-page="Delete" asp-route-id="@Model.Product.Id" class="btn btn-danger">Delete</a>
</div>
<!-- End Buttons to Update and Delete item -->